* {
    border: 1px solid black;
}

body {
    background: #444 url("duelistisland.jpg") fixed center no-repeat;
    background-size: cover;
    font-family: 'Fondamento', cursive;
    /* font-family: 'Baloo Chettan 2', cursive; */
}

div.heading {
    text-align: center;
    color: white;
}

div.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.jumbotron {
    width: 75%;
    max-width: 700px;

    text-align: center;

    position: fixed;
    /* previously 45% */
    top: 15%;
    /* transform: translateY(-45%); */
    display: block;
    background-color: rgb(243, 187, 66);
    box-shadow: 0 4px 8px rgb(26, 31, 39);
    transition: all 0.3s ease-in-out;

    animation: slideInDown;
    animation-duration: 2s;
}

/* Monster Card Container Styling */
div.game-container {
    margin-top: 150px;
    display: none;
    /* margin: 260px 100px 0 100px; */
}

div.game-container.show {
    display: block;
}

div.card {
    background-color: rgb(243, 187, 66);
    box-shadow: 0 4px 8px rgb(26, 31, 39);
}