* {
    border: 1px solid black;
}

body {
    background: #444 url("duelistisland.jpg") fixed center no-repeat;
    background-size: cover;
    font-family: 'Fondamento', cursive;
    /* font-family: 'Baloo Chettan 2', cursive; */
}

div.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.jumbotron {
    width: 75%;
    max-width: 700px;
    position: fixed;
    top: 45%;
    transform: translateY(-45%);
    display: block;
    background-color: rgb(243, 187, 66);
    box-shadow: 0 4px 8px rgb(26, 31, 39);
    transition: all 0.3s ease-in-out;
}

/* Duelist Carousel */
div.duelistCarousel {
    display: none;
}

div.duelistCarousel.show {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(243, 187, 66);
    padding: 30px;
    width: 50vw;
    max-width: 500px;
    text-align: center;
    border-radius: 5px;
    position: fixed;
    top: 45%;
    left: 40%;
    transform: translateY(-45%);
}

div.duelistCarousel img {
    width: 50%;
    height: 50%;
}

/* Monster Card Container Styling */
div.gameContainer {
    margin-top: 260px;
    display: none;
    /* margin: 260px 100px 0 100px; */
}

div.gameContainer.show {
    display: block;
}

div.monsterCard {
    display: flex;
    justify-content: center;
}

div.card {
    background-color: rgb(243, 187, 66);
    box-shadow: 0 4px 8px rgb(26, 31, 39);
    transition: all 0.3s ease-in-out;
}